div{
	margin-top: 10px;
}
form{
	width: 100%;
	float-direction:column;
	align-items: center;
}

.btn{
	width: 100%;
}

.btn:hover{
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 green;
	transform: translateY(-0.1rem);
	transition: transform 150ms;s
}

.btn[disabled]:hover{
	cursor: not-allowed;
	box-shadow: none;
}